# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Piotr\Desktop\semestr_6\Cyfrowe_przetwarzanie_sygnalu\zad1\program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
